/bin/
.classpath
.idea/compiler.xml
.idea/copyright/
.idea/dictionaries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.project
VitualNumericKeypad.eml
VitualNumericKeypad.iml
data/google-10000-english-master/
src/test/
